/*****************TAG SELECTRORS********************/
body{
    background-color: #F5EFE6;
    margin: 0;
    padding: 10px;
}
h1{
    color: #7895B2;
    margin-top: 0;
}
hr{
    background-color: #F5EFE6;
    border-style: dotted none none;
    border-width: 2px;
    height: 2px;
    width: 10%;

}
img{height: 100px;}

h3{color: #7895B2;}

/*****************CLAS SELECTRORS********************/
.KoSamJa{
    background-color: #AEBDCA;
}
.bold{
    text-decoration: underline;
}