body{background-color: #F5EFE6;}
hr{
    background-color: #F5EFE6;
    border-style: dotted none none;
    border-width: 2px;
    height: 2px;
    width: 10%;

}
img{height: 100px;}
h1{color: #7895B2;}
h3{color: #7895B2;}